* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
  background-color: rgba(255, 136, 0, 0.479);
}

header {
  background-color: #e2720898;
  float: left;
  width: 100%;
  height: 20%;
  display: flex;
  align-items:center;
}

hr {
  background-color: black;
}

.imgLink {
  float: left;
}

a img {
  margin-bottom: 10px;
  width: 100px;
}

h1 {
  font-family: "Times New Roman";
  text-align: auto;
  margin-top: 30px;
  display: block;
}


/* ----- VIDEO ----- */
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
    
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* -------------------- */

/* ----- MAKINA BIRTUALA ------
----------- REKISITOAK -------- */
.bloque {
  background-color: rgba(255, 255, 255, 0.582);   
  box-shadow: 5px 10px #888888;
  margin: 20px;
  padding: 5%;
  border: 5%;
  display: inline-block;
  border-radius: 25px;
  width: 95%;
  margin-right: 5%;
  align-items: center;
}
.bloque p{
  font-size:x-large; 
  padding-top: center;
  text-align: justify;

}
.bloque img {
  width: 100%;


}

.Subituloa{
  text-align: center;
  font-size:xx-large; 
  background-color: #944101;
  border: 10cm;
  box-shadow: 5px 10px #888888;
  border-radius: 25px;
  width: 80%;
  margin-left:12%;

}
.guia{
  background-color: #DB6002;
  border: 10cm;
  box-shadow: 5px 10px #888888;
  border-radius: 25px;
  margin-left: 12%;
  width: 80%;
}
.guia h6{
  margin-left: 10%;
  text-align: justify;
  font-size:xx-large;

}

/* -------------------- */
/*---------------LABURPENA------------*/
.BlockLabur{
  background-color: rgba(255, 255, 255, 0.582);   
  box-shadow: 5px 10px #888888;
  margin: 20px;
  padding: 5%;
  border: 5%;
  display: inline-block;
  border-radius: 25px;
  width: 95%;
  margin-right: 5%;
  align-items: center;
  text-align: justify;
  font-size: large;
}

/* ----- ADAPTAR DISPOSITIVOS ------ */

/* MOBILE FIRST: */
[class*="col-"] {
  width: 100%;
}


/* For TABLET: */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .guia{width: 80%;
    margin-left: 5%;
}
  .guia h6{
    margin-left: 10%;
    text-align: justify;
    font-size:x-large;
  
  }
  .Subituloa{
    margin-left:15%;
    width: 70%;
    }
 

}

/* For DESKTOP: */
@media only screen and (min-width: 768px) {
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    .guia{   width: 40%;
      margin-left: 5%;
    }
    .guia h6{
      margin-left: 10%;
      text-align: justify;
      font-size:large;
    
    }
    .Subituloa{
      margin-left:35%;
      width: 30%;
    }
    .bloque p{
      float: left;
      width: 45%;
      font-size:x-large; 
      padding-top: center;
      text-align: justify;
    
    }
    .bloque img {
      width: 35%;
      float: right;
    }
    .bloque a{
      float: right;
      display: inline-block;

    }
}




footer img{
  align-content: center;
  padding: 10%;
  width: 100%;
}
