* {
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
  background-color: #E18946;
}

header {
  background-color: #694020be;
  float: left;
  width: 100%;
  height: 20%;
  display: flex;
  align-items:center;
}

hr {
  background-color: black;
}

.imgLink {
  float: left;
}

a img {
  margin-bottom: 10px;
  width: 100px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: auto;
  margin-top: 30px;
  display: block;
}

h3 {
  width: 100%;
  background-color: #944101c9;
  margin: 0px;
  font-weight: bold;
}

h5 {
  width: 100%;
  background-color: rgba(176, 77, 2, 0.767);
  margin: 0px;
}

.imagen {
  width: 100%;  
}

.imagen2 {
  width: 50%;
}

#menuDropdown {
  display: none;
}

/* ----- NAV PARA MOVIL ----- */

#topnav a#active {
  background-color: rgba(255, 136, 0, 0.479);
}

#topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  #topnav>a:not(:first-child) {
    display: none;
  }

  .imgIcon {
    margin-top: 7px;
    height:30px;
    width:30px;    
  }

  #menuDropdown {
    display: block;
    float: left; 
  }
}

/* ---------------------- */


/* ----- VIDEO ----- */
.video {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}
    
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* -------------------- */


/* ----- ADAPTAR DISPOSITIVOS ------ */
[class*="col-"] {
  float: left;
  padding: 15px;
}
/* MOBILE FIRST */
[class*="col-"] {
  width: 100%;

}
@media only screen and (max-width: 600px) {
  /* For desktop: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}
@media only screen and (min_width:1200px) {
  /* For desktop: */
  .col-p-1 {width: 8.33%;}
  .col-p-2 {width: 16.66%;}
  .col-p-3 {width: 25%;}
  .col-p-4 {width: 33.33%;}
  .col-p-5 {width: 41.66%;}
  .col-p-6 {width: 50%;}
  .col-p-7 {width: 58.33%;}
  .col-p-8 {width: 66.66%;}
  .col-p-9 {width: 75%;}
  .col-p-10 {width: 83.33%;}
  .col-p-11 {width: 91.66%;}
  .col-p-12 {width: 100%;}

}

/* -------------------- */


footer img{
  align-content: center;
  padding: 10%;
  width: 100%;
}